<h2 class="card-title">Edit Departement</h2>

<form class="row g-3" [formGroup]="departementForm">

  <div class="col-6 offset-3">
    <label class="form-label">Nom Departement</label>
    <div class="input-group mb-3">
      <input
        [ngClass]="{
          'input-invalid': nomDepart.touched && nomDepart.invalid,
          'input-valid': nomDepart.touched && nomDepart.valid
        }"
        type="text"
        class="form-control"
        formControlName="nomDepart"
        minlength="15"
        pattern="^departement +[a-zA-Z ]*"
      />
      <div
        class="message-invalid"
        *ngIf="nomDepart.touched && nomDepart.hasError('required')">
        Nom  Departement Is Required
      </div>
      <div
        class="message-invalid"
        *ngIf="nomDepart.touched && nomDepart.hasError('pattern')">
        Nom  Departement doit être des lettres et commencant par departement
      </div>
      <div
        class="message-invalid"
        *ngIf="nomDepart.touched && nomDepart.hasError('minlength')">
      minlength 15 lettres
      </div>
      <!--success message-->
      <div class="message-valid" *ngIf="nomDepart.touched && !nomDepart.errors">
        Looks good!
      </div>

    </div>

  </div>

  <div class="text-center">
    <button
      (click)="upadteDepartement(receivedRow.departement.id)"
      type="submit"
      class="btn btn-primary mx-2"
      [disabled]="!departementForm.valid"
    >
      <i class="fa-solid fa-pen-nib pe-2"></i>Edit
    </button>
    <button
      (click)="resetControls()"
      type="button"
      class="btn btn-warning mx-2"
    >
      <i class="fa-solid fa-broom pe-2"></i>
      Reset
    </button>
    <button (click)="closeDialog()" type="button" class="btn btn-danger">
      <i class="bi bi-x-circle pe-2"></i>
      Close
    </button>
  </div>
</form>
<pre>
</pre>
